/*
=====================================================================

1. General settings
    a. resets
    b. colors
    c. fonts
2. Header / Main / Footer
    a. Header
    b. Main
    c. Footer
3. Specifics settings
    a. Homepage
    b. Biopage
    c. Projects
    d. Contact

=====================================================================
*/


/*--------------------------------- 1. General settings ---------------------------------*/

/* -------------------------------- */
/*              a.resets            */
/* -------------------------------- */
ul {
    list-style: none;
    list-style-position: outside;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

body, .container {
    margin: 0;
}


/* -------------------------------- */
/*              b. colors           */
/* -------------------------------- */

* {
    color: #0F0E0E;
}

footer {
    background-color: #333F44;
}


/* -------------------------------- */
/*             c. fonts             */
/* -------------------------------- */

* {
    font-family: 'Crete Round', serif;
}

.name {
    font-family: 'Nova Round', cursive;
}


/* -------------------------------- */
/*      d. background settings      */
/* -------------------------------- */

.container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



/*--------------------------------- 2. Header / Main / Footer ---------------------------------*/

/* -------------------------------- */
/*              a. Header           */
/* -------------------------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.menu {
    display: flex;
    justify-content: space-between;
}

li {
    margin: 1rem;
}


/* -------------------------------- */
/*              b. Main             */
/* -------------------------------- */

main {
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


/* -------------------------------- */
/*              c. Footer           */
/* -------------------------------- */

footer {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 1.2rem;
    margin: 0.5rem;
}



/*--------------------------------- 3. Specifics settings ---------------------------------*/

/* -------------------------------- */
/*              a. Homepage         */
/* -------------------------------- */
.homePage {
    background-image: url(images/moi.jpg);
}


/* -------------------------------- */
/*              b. Bio              */
/* -------------------------------- */

.bioMainImage {
    max-height: 60vh;
}

.bioMainDescription {
    width: 25rem;
}

/* -------------------------------- */
/*              c. Projects         */
/* -------------------------------- */

.projectBlock {
    width: 15rem;
}

.projectImage {
    width: inherit;
}

h3 {
    text-align: center;
}


/* -------------------------------- */
/*              d. Contacts         */
/* -------------------------------- */

