/*
=====================================================================

1. General settings
    a. resets
    b. page's style
    c. fonts
2. Header
3. Main
4. Footer
5. Homepage
6. Biopage
7. Projects
8. Contact

=====================================================================
*/


/*--------------------------------- 1. General settings ---------------------------------*/

/* --- a.resets --- */

ul {
    list-style: none;
    list-style-position: outside;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}


/* --- b. page's style --- */

body, .container {
    margin: 0;
}

main {
    height: 90vh;
}

.container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* --- c. fonts --- */

* {
    font-family: 'Crete Round', serif;
    color: #0F0E0E;
}

.name {
    font-family: 'Nova Round', cursive;
}



/*--------------------------------- 2. Header ---------------------------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.menu {
    display: flex;
    justify-content: space-between;
}

li {
    margin: 1rem;
}



/*--------------------------------- 3. Main ---------------------------------*/

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}



/*--------------------------------- 4. Footer ---------------------------------*/

footer {
    height: 10rem;
    background-color: #333F44;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 1.2rem;
    margin: 0.5rem;
}



/*--------------------------------- 5. Homepage ---------------------------------*/

.homePage {
    background-image: url(images/moi.jpg);
}



/*--------------------------------- 6. Bio ---------------------------------*/

.bioMainImage {
    max-height: 60vh;
}

.bioMainDescription {
    width: 25rem;
}


/*--------------------------------- 7. Projects ---------------------------------*/

.projectBlock {
    width: 15rem;
}

.projectImage {
    width: inherit;
}

h3 {
    text-align: center;
}



/*--------------------------------- 8. Contact ---------------------------------*/



